* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}



.first-section {
    background-image: url(images/donation66.png);
    background-size: cover;

    height: 700px;


}

.first-container {
    text-align: center;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 100%;


}

.first-container h1 {
    margin: 20px 0;
    font-size: 60px;
    line-height: 50px;
}

.first-container p {
    margin-bottom: 50px;
    font-size: 20px;
    padding: 0 200px;
    color: white;
}

.donate-btn {
    padding: 10px 40px;
    background-image: linear-gradient(to left, tomato, orange);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid tomato;

}

.donate-btn:hover {
    background-image: linear-gradient(to left, orange, tomato);
    /* text-decoration: underline; */
    border: 2px solid orange;
}

/* second-section style from here */
.second-section h1 {
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
    line-height: 40px;


}

.second-section p {
    text-align: center;
    margin-top: 30px;
    padding: 0 200px;
}

.parent-div {
    display: flex;
    justify-content: space-evenly;
    margin: 0 200px;
}

.div {
    margin-top: 30px;
    box-shadow: 1px 1px 2px gray;
    padding: 50px;
    width: 50px;
    height: 40px;
    border-radius: 9px;

}

#div-id-2 {
    border: 2px solid tomato;
    color: tomato;
    background-color: rgb(234, 216, 213);
    border: none;
}

.another-div {
    text-align: center;
    margin-top: 60px;

}

.another-div input {
    border-top: none;
    border-left: none;
    border-right: none;
}

.input-style {
    width: 85%;
    margin: 20px auto;
    height: 39px;

    display: block;
    text-align: center;

}

input[type="text"]::placeholder {
    padding-left: 15px;
}

.donate-btn2 {
    padding: 10px 40px;
    background-image: linear-gradient(to left, tomato, orange);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid tomato;


}

.donate-btn2:hover {
    background-image: linear-gradient(to left, orange, tomato);
    /* text-decoration: underline; */
    border: 2px solid orange;
}

/* third section style form here */
.third-section {
    margin: 80px 80px;


}

.third-section h1 {
    text-align: center;
    margin-top: 100px;
    font-size: 50px;

}

.third-section p {
    text-align: center;
    margin-top: 20px;
    margin: 0 200px;

}



.child {
    align-items: left;
    width: 30%;
    height: 250px;
    padding: 30px 10px;
    border-radius: 8px;
    text-align: left;
    box-shadow: 4px 4px 16px gray;
    margin-top: 20px;
    margin-left: 38px;
}

#card-1 {
    background-color: antiquewhite;
}

#card-2 {
    background-color: lightpink;

}

#card-3 {
    background-color: rgb(192, 238, 222);
}

/* fourth section style start form here */
.fourth-container {
    display: flex;
    margin: 0 100px;

}


.half-width {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    margin: 80px 25px;
    text-align: left;

}

.half-width img {
    width: 100%;
    border-radius: 10px;

}

.half-width h1 {
    margin-top: 0px;
    font-size: 50px;
    line-height: 50px;
}

.half-width p {
    margin-top: 30px;
}

.donate-button {
    padding: 10px 20px;
    background-image: linear-gradient(to left, tomato, orange);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid tomato;
    margin-top: 40px;
    display: block;
    width: 28%;
}

.donate-button:hover {
    background-image: linear-gradient(to left, orange, tomato);
    /* text-decoration: underline; */
    border: 2px solid orange;
}

/* form section design from here */
.form-section {
    margin: 80px 130px;
    text-align: left;
    border: 1px solid black;
    padding: 20px;
}

.form-section h1 {
    font-size: 50px;

}

.form-sectin input {
    border: 1 px solid tomato;
    font-size: 15px;
    font-family: tahoma;


}

.form-section p {
    font-size: 20px;
    color: white;
}

.together {
    display: flex;
}

.together-2 {
    display: flex;
}

.together-2 p {
    font-size: 10px
}

.one {
    margin: 10px;
}

input[type:submit] {
    padding: 10px 30px;
    background-color: omato;
}

/* last section style start from here */

.last-container h1 {
    text-align: center;
    font-size: 50px;
}

.last-container p {
    margin: 30px 0;
    text-align: center;
}

.last-input {
    width: 800px;
    height: 150px;
    background-color: blanchedalmond;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;


}

.last-input input {
    border: none;
    padding: 15px;
    width: 300px;
    height: 30px;
    padding: 0 10px;
    background-color: darkgray;
}

.last-input button {
    position: absolute;
    left: 70%;
    border: none;
    padding: 5px 10px;
    background: tomato;
    border-end-end-radius: 5px;
    border-top-right-radius: 5px;


}

footer {
    text-align: center;
    margin-top: 80px;
    background-color: black;
    height: 200px;



}

footer h4 {
    font-size: 30px;
    font-family: 'The Nautigal', cursive;
    padding-top: 70px;
}

footer p {
    font-size: 10px;
    margin-top: 8px;
    color: gray;
}